
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
*{
    font-size: Outfit;
}
.active hr{
    display: block;
}
::-webkit-scrollbar {
    display: none;
}
/* @media(max-width:740px) {
    .active p{
        @apply text-white bg-[#07BCFF];
    }
} */

@layer components {
  @media (max-width: 740px) {
    .active p {
      @apply text-white bg-[#07BCFF];
    }
  }
}
